.container {
  margin-top: 2.5rem;
}

.exImgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.heading>h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 9rem;
  letter-spacing: -0.005em;
  text-align: center;
}

.exImg {
  margin: 1.5rem;
  width: 25%;
}

@media screen and (min-width: 1200px) {
  .heading>h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .exImg {
    margin: 1.5rem;
    width: 45%;
  }
}