.guestSection {
  display: flex;
  width: 100%;
  min-height: 900px;
  padding-top: 158px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  h1 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 64px;
    // -webkit-text-stroke: 3px black;
    // -webkit-text-fill-color: transparent;
  }
  .guests {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0 80px;

    width: 85%;
    position: relative;
    margin: 30px 40px 90px 40px;
    min-height: 700px;
    background: linear-gradient(
      108.59deg,
      #3c96d7 -5.09%,
      #f72b22 47.54%,
      #f8cb15 101.72%
    );
    .first,
    .second,
    .third {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 200px;
      align-items: center;
      justify-content: space-evenly;
      .imageComponent {
        width: 300.03px;
        height: 308.41px;
        display: flex;
        position: relative;
        justify-content: center;
        &:hover {
          .letter {
            fill: white;
          }
        }

        .letter {
          position: absolute;
          z-index: 9;
        }

        .content {
          width: 247.43px;
          height: 265.61px;
          background-color: #292929;
          border-radius: 13px;
          overflow: hidden;
          h5 {
            position: relative;
            margin-top: 15px;
            margin-left: 12px;
            font-size: 15px;
          }
          p {
            position: relative;
            margin-top: 8px;
            margin-left: 12px;
            font-size: 10px;
          }
          img {
            z-index: 99;
          }
        }
      }
    }
  }
}

.a {
  .letter {
    top: 135px;
    left: -30px;
  }
  .content {
    position: relative;
    background-color: red;
  }
  img {
    position: relative;
    margin-top: -4.5px;
    margin-left: 25px;
  }
}

.b {
  .content {
    position: relative;
  }
  img {
    position: relative;
    margin-top: 30px;
    margin-left: 32px;
  }
}

.c {
  .content {
    position: relative;
  }
  img {
    position: relative;
    margin-top: 22.5px;
    margin-left: 21px;
  }
}

.d {
  .content {
    position: relative;
  }
  img {
    position: relative;
    margin-top: 4.85px;
    margin-left: 4px;
  }
}
.e {
  .content {
    position: relative;
  }
  img {
    position: relative;
    margin-top: 43px;
    margin-left: 0px;
  }
}
.f {
  .content {
    position: relative;
  }
  img {
    position: relative;
    margin-top: -64px;
    margin-left: 0px;
  }
}

.g {
  .content {
    position: relative;
  }
  img {
    position: relative;
    margin-top: -32.8px;
    margin-left: 2px;
  }
}

.h {
  .content {
    position: relative;
  }
  img {
    position: relative;
    margin-top: 25px;
    margin-left: -1px;
  }
}
.guestSection {
  .guests {
    .first {
      .content.a {
        background: red;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .guestSection {
    .guests {
      gap: 0px;
      .first,
      .second,
      .third {
        flex-direction: column;
        .imageComponent {
          margin-bottom: 2rem;
        }
      }
    }
  }
}
