.guestSection {
  display: flex;
  width: 100%;
  min-height: 900px;
  padding-top: 158px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  h1 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 30px;
    // -webkit-text-stroke: 3px black;
    // -webkit-text-fill-color: transparent;
  }
  .guests {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    padding: 80px 0 80px;

    width: 85%;
    position: relative;
    margin: 30px 40px 90px 40px;
    min-height: 700px;
    background: linear-gradient(
      108.59deg,
      #3c96d7 -5.09%,
      #f72b22 47.54%,
      #f8cb15 101.72%
    );
    .first,
    .second,
    .third {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 200px;
      align-items: center;
      justify-content: space-evenly;
      .imageComponent {
        width: 300.03px;
        height: 308.41px;
        display: flex;
        position: relative;
        justify-content: center;
        &:hover {
          .letter {
            fill: white;
          }
        }

        .letter {
          position: absolute;
          z-index: 9;
        }

        .content {
          width: 257.43px;
          height: 275.61px;
          background-color: #292929;
          border-radius: 13px;
          overflow: hidden;
          h5 {
            position: relative;
            margin-top: 15px;
            margin-left: 12px;
            font-size: 15px;
          }
          p {
            position: relative;
            margin-top: 8px;
            margin-left: 12px;
            font-size: 12px;
            line-height: 14.5px;
          }
          img {
            z-index: 99;
          }
        }
      }
    }
  }
}

.a {
  .letter {
    top: 135px;
    left: -30px;
  }
  .content {
    position: relative;
    p {
      padding-right: 10px;
    }
  }
  img {
    position: absolute;
    bottom: 0.9px;
  }
}

.b {
  .letter {
    top: 77px;
    left: 160px;
  }
  .content {
    position: relative;
    p {
      width: 30ch;
    }
  }
  img {
    height: 250px;
    bottom: 0;
    left: -80px;
    position: absolute;
  }
}

.c {
  .letter {
    position: relative;
    left: 170px;
    top: 160px;
  }
  .content {
    position: relative;
  }
  img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.d {
  .letter {
    position: absolute;
    bottom: 50px;
    left: 0px;
  }
  .content {
    position: relative;
  }
  img {
    position: absolute;
    bottom: -53px;
    height: 300px;
    right: 0;
  }
}

.e {
  .letter {
    position: absolute;
    bottom: 60px;
    right: 0;
  }
  .content {
    position: relative;
  }
  img {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
.f {
  .letter {
    position: absolute;
    bottom: 60px;
    right: 0;
  }
  .content {
    position: relative;
  }
  img {
    position: absolute;
    bottom: 0px;
  }
}

.g {
  .content {
    position: relative;
  }
  img {
    position: absolute;
    bottom: 0px;
  }
}

.h {
  .content {
    position: relative;
  }
  img {
    position: absolute;
    bottom: 0px;
  }
}

.quote {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 200px;
  align-items: center;
  justify-content: center;
  p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: flex;
    position: relative;
    line-height: 40px;
    div {
      display: flex;
      gap: 20px;
      position: absolute;
      left: 660px;
      top: 55px;
      span:nth-child(2) {
        background-color: #f72b22;
      }
      span:nth-child(3) {
        background-color: #3c96d7;
      }
      span {
        display: block;
        width: 15px;
        height: 15px;
        background-color: #f8cb15;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .guestSection {
    .guests {
      width: 100%;
      gap: 0px;
      .first,
      .second,
      .third {
        flex-direction: column;
        .imageComponent {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media (hover: none) {
  .guestSection {
    .guests {
      .imageComponent {
        &:hover {
          .letter {
            fill: none;
          }
        }
      }
    }
  }
}
