.container{
  width: 100%;
}

.exImgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;


}

.ticketContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;


}

.heading>h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 9rem;
  letter-spacing: -0.005em;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 9rem;
  letter-spacing: -0.005em;
  text-align: center;
  margin: -5rem;
}

.exImg {
  margin: 2.5rem;
}
.ticketHeading{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticketHeading h2{
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .tickets {
    justify-content: center;
    background: center url("../../images/frame.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2.5rem;
  }

  
  
  h2{
    font-size: 2rem;
    margin: 0%;
  }

}